{% extends 'ncuooiv/new_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/ncuoportal/css/foiv.form.css') }}" />
    <style>.imagePreview img{max-width: 200px}</style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ncuooiv/js/imgBase64.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block subtitle %}
    {{pageTitle}} > Редактирование записи 
{% endblock %}

{% block foivTabMenuActive %}
    var arrMenus = ["block_{{tabmenu['parent_id']}}"];
    var arrTabs = ["toptab_{{tabmenu['parent_id']}}", "tab_{{tabmenu['current_id']}}"];
{% endblock %}

{% block phSearch %}
    {% if oiv.name is defined %}Поиск в ФОИВ - {{ oiv.name }}{% endif %}
{% endblock %}

{% block foivContent %}
        <div id="dialog_msg_info" class="display-none" hidden title="Инфо"></div>
        <div id="error_msg_dialog" class="display-none"  title="Внимание" hidden></div>
        <p style="margin-top: 25px">* Поля отмеченные звездочкой обязательны к заполнению</p>

        {% block formContent %}
		{% endblock %}
		
		{% include 'buttons_psp_edit.twig' ignore missing with {
			'urlBack': urlBack,
			'urlView': urlView
		} %}
		

        {% if message is defined and message.message_text != '' %}
        <script>
        $(document).ready( function (){
            getModalDialogInfo('{{ message.message_text }}');
        } )
        </script>
        {% endif %}


    <div>
{% endblock %}