{% extends 'ncuofoiv/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>Структура</li>
    <li>Подведомственные ФОИВ</li>
{% endblock %}

{% block subtitle %}
	<h5>Подведомственные ФОИВ</h5>
{% endblock %}

{% block foivTabMenuActive %}
    var arrTabs = ["tab_foiv_struct", "tab_foiv_subinsts"];
{% endblock %}

{% block foivContent %}
        <div id="error_msg_dialog" class="display-none"  title="Внимание" hidden></div>
        <table id="dTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
					<th>Изменено</th>
                    <th width="8%">Действия</th>
                </tr>
            </thead>
            <tbody>
            {% if entities is defined %}
				{% set counter = 0 %}
            {% for entity in entities %}
					{% if entity is defined %}
						{% set counter = counter + 1 %}
                <tr id="item_{{ entity.id }}">
                    <td>{{ counter }}</td>
                    <td>{{ entity.name }}</td>
					<td>{% if entity.ModifiedDate is defined and entity.id > 0 %}{{ entity.ModifiedDate|date("d.m.Y H:i:s")}}{% endif %}</td>
                    <td>
                        {% include 'ncuofoiv_icons_list.twig' ignore missing with {
                            'urlEdit': "",
                            'urlView': path('foiv_show', { 'id': entity.id }),
                            'entity_id' : entity.id,
                            'urlDelete' : ""
                        } %}
                    </td>
                </tr>
					{% endif %}
				{% endfor %}
            {% endif %}
            </tbody>
        </table>

{% for flashMessage in app.session.flashbag.get('notice') %}
        <script>
            showInfoDialog('dialog_msg_info', '{{ flashMessage }}');
        </script>
{% endfor %}

{% endblock %}