{% extends 'layout.html.twig' %}

{% block stylesheets %}
   {{parent()}}
   <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/ncuofoiv/css/profile.css') }}"/>
   
{% endblock %}

{% block content %}
<form class="form-inline" id="create_data" method="post" action="{{ActionURL}}">
    <table class="table" cols=2>
            <tbody>
                
                {% for Key, DataItem in FieldDataNames %}

                <tr>
                    <td width="15%"><b>{{DataItem[1]}}:</b></td>
                    {# Проверяем тип контрола и в зависимости от типа создаем соответсвующий HTML-контрол #}
                    {% if DataItem[0] == 'editbox' %}
                         {# Проверяем является ли поле обязательным или нет при вводе данных#}
                        {%if DataItem[3] == true%}
                            <td align="left" class="td_control"><input class="form-control" type="text" required="required" style="width: 50%" name="{{Key}}" value="{{DataItem[2]}}"></td>
                        {% else %}
                            <td align="left" class="td_control"><input class="form-control" type="text"  style="width: 50%" name="{{Key}}" value="{{DataItem[2]}}"></td>
                         {% endif%}   
                     {% elseif   DataItem[0] == 'textarea' %}
                         {# Проверяем является ли поле обязательным или нет при вводе данных#}
                          {%if DataItem[3] == true%}
                            <td align="left" class="td_control"><textarea class="form-control"  required="required" rows="3"  style="width: 50%"  name="{{Key}}">{{DataItem[2]}}</textarea></td>
                        {% else %}
                            <td align="left" class="td_control"><textarea class="form-control"   rows="3"  style="width: 50%"  name="{{Key}}">{{DataItem[2]}}</textarea></td>
                        {% endif%}
                     {% elseif   DataItem[0] == 'updown' %}
                         {# Проверяем является ли поле обязательным или нет при вводе данных#}
                          {%if DataItem[3] == true%}
                            <td align="left" class="td_control"><input class="form-control" type="number" required="required" style="width: 50%" name="{{Key}}"  value="{{DataItem[2]}}"/></td>
                        {% else %}
                            <td align="left" class="td_control"><input class="form-control" type="number" style="width: 50%" name="{{Key}}"  value="{{DataItem[2]}}"/></td>
                        {% endif %}
                    {% elseif   DataItem[0] == 'combobox' %}
                        <td align="left" class="td_control">
                            {# Проверяем является ли поле обязательным или нет при вводе данных#}
                          {%if DataItem[3] == true%}
                            <select class="form-control" required="required" name="{{Key}}" style="width: 50%">
                        {%else%}
                            <select class="form-control"  name="{{Key}}" style="width: 50%">
                        {%endif%}
                            {# Проверяем: определена ли переменная (массив с данными)  или нет ? #}
                            {%  if  SourceData is defined  and SourceData[Key] is defined %}
                                {% for OptionKey, OptionData in SourceData[Key] %}
                                    {#
                                        Если значение из списка совпадает с тем что выброано в объекте,
                                        то отмечаем данный элемент списка выбранным
                                    #}
                                    {% if  DataItem[2] == OptionData %}
                                        <option value="{{OptionKey}}" selected > {{OptionData}}</option>
                                    {% else %}
                                        <option value="{{OptionKey}}">{{OptionData}}</option>
                                    {%endif%}
                                {% endfor %}
                            {%  endif  %}            
                            </select>
                        </td>
                     {% endif %}
                </tr>
                {% endfor %}
            </tbody>
    </table>
    
    </form>

<div>
            <button type="submit" class="btn btn-primary" form="create_data" > Сохранить</button>
            <a class="btn btn-default" href="{{RetunedURL}}">Отмена</a>
</div>
{% endblock %}