{% extends 'ncuofoiv/layout.html.twig' %}

{% block javascripts %}
   
      {{ parent() }}
      {#Подключаем JavaScript-библиотеку  для удобной отправки данных HTML-форм серверу и получения ответа от сервера
         Используются функции: ajaxSubmit или ajaxForm
      #}
      {#<script type="text/javascript" src="{{asset('bundles/ncuoportal/js/jquery.form.min.js')}}"></script>#}
      {# Подключаем скрипт с вспомогательными функциями по работе с  всплывающими диалоговыми окнами (MessageBox) #}
      <script type="text/javascript" src="{{asset('bundles/ncuofoiv/js/DialogHelpers.js')}}"></script>
      {# Подключаем скрипт с обрабочтком событий #}
      {% if( ScriptFileName is defined) %}
      <script src="{{asset(ScriptFileName) }}"></script>
      {% endif %}
{% endblock %}

   
{% block  foivContent %}
    <style>.fa-angle-right{padding-right: 5px}</style>
    <div class="row" style="margin-top: 10px; margin-bottom: 4px;">
        <div class="col-md-9">
            <h4>
                <i class="fa fa-database fa-fw"></i>
                <i class="fa fa-angle-right"></i>{{ActionTitle}}
            </h4>
        </div>
    </div>
    <style>
        .contentHolder input[type=text] { width: 100% }
    </style>
<div class="contentHolder">
{# Нижеследующий div является элементом для создания диалогового окна. Ключевое слово "hidden" не убирать - иначе далог будет вести непредсказуемо #}
<div id="msg_dialog" class="display-none"  title="Внимание" hidden></div>
<form class="form-inline" id="create_data" method="post" action="{{ActionURL}}">
    <table class="table" cols="2">
            <tbody>
                {% for Key, DataItem in FieldNames %}
                <tr>
                    <td ><b>{{DataItem[1]}}:</b></td>
                    {# Проверяем тип контрола и в зависимости от типа создаем соответсвующий HTML-контрол #}
                    {% if DataItem[0] == 'editbox' %}
                     <td align="left"  class="td_control">
                        <input class="form-control" type="text" align="left" style="width: 50%"  name="{{Key}}"/>
                     </td>
                    {% elseif   DataItem[0] == 'textarea' %}
                        <td align="left" class="td_control">
                           <textarea class="form-control"  rows="3"  style="width: 50%"  name="{{Key}}"></textarea>
                        </td>
                    {% elseif   DataItem[0] == 'updown' %}
                        <td align="left" class="td_control">
                           <input class="form-control" type="number" style="width: 50%" name="{{Key}}" />
                        </td>
                    {% elseif   DataItem[0] == 'combobox' %}
                        <td align="left" class="td_control">
                             <select class="form-control" name="{{Key}}" style="width: 50%">
                            {# Проверяем: определена ли переменная (массив с данными)  или нет ? #}
                            {%  if  SourceData is defined  and SourceData[Key] is defined %}
                                {% for OptionKey, OptionData in SourceData[Key] %}
                                    {%if OptionKey != -1 %}
                                    <option value="{{OptionKey}}">{{OptionData}}</option>
                                {%else %}
                                    <option selected disabled>{{OptionData}}</option>
                                {%endif%}
                                {% endfor %}
                            {%  endif  %}            
                            </select>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
    </table>
    
    </form>

<div>
            <button type="button" class="btn btn-primary" form="create_data" onclick="{{SaveFunctionName}}"> Сохранить </button>
            <a class="btn btn-default" href="{{RetunedURL}}">Вернуться к списку</a>
          
</div>
</div>
{% endblock %}