{% extends 'ncuowebmail/new_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/ncuoportal/css/foiv.form.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block nameheader %}
<div class="container-fluid" style="line-height: 40px">
  <div class="row">
    <div class="col-8" style="font-weight: 600; font-size: 16px; margin-left: 38px">
        {{pageTitle}}
    </div>
  </div>
</div>
{% endblock %} 

{% block content %}
<div style="width: 95%; margin: auto; margin-top: 30px">

   <div class="form-inline" > 
      {% if message is defined and message.message_text is defined %}
         <div class="alert alert-warning" role="alert">{{ message.message_text }}</div>
      {% endif %} 
   </div>        
   <div style="margin: 40px 0px 30px 0px">
      <button onclick="window.location.replace('{{ path('webftp', {}) }}')" title="К списку" class="btn btn-return" /></a>
   </div>
        
</div>
   
{% endblock %}

