{% extends 'ncuooiv/layout.html.twig' %}  

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/ncuoportal/css/oiv.css') }}" />
    <style type="text/css">
    #heraldic_img img, #flag_img img { width: 80px}
    .table td {
        border-bottom: 1px solid #cdcdcd !important;
        height: 50px !important;
    }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>Структура</li>
    <li>Структура (состав)</li>
{% endblock %}

{% block subtitle %}
	<h5>Структура (состав)</h5>
{% endblock %}

{% block foivTabMenuActive %}
    var arrTabs = ["tab_foiv_struct", "tab_structure_scheme"];
{% endblock %}

{% block foivContent %}
   
    <div class="contentHolder">
        <div id="dialog_msg_info" class="display-none" hidden title="Инфо"></div>

        
        {#% if foiv.ModifiedDate  is defined %}<p>Дата последнего изменения: {{ foiv.ModifiedDate|date("d.m.Y (H:i:s)")}}</p>{% endif %#}
        
        
        <table class="table">
         

         {% if fields is defined %}
        {% for field in fields %}         
            <tr>
                <td id='{{field.IdFldShort}}'>
                    {% if field.data is defined %}
                       {% autoescape %}
                        {{ field.data|raw }}
                        {% endautoescape %}
                    {% endif %}
                    
                </td>
            </tr>

        {% endfor %}
        {% endif %} 
        </table>
        
        
        {% include 'ncuooiv_buttons_show.twig' ignore missing with {
            'urlEdit': urlEdit
        } %}
        
    </div> <!-- \ contentHolder -->

{% endblock %}
