{% extends 'ncuofoiv/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>Ситуационный центр</li>
{% endblock %}

{% block subtitle %}
	<h5>Ситуационный центр</h5>
{% endblock %}

{% block foivTabMenuActive %}
    var arrTabs = ["tab_foiv_sitcenter"];
{% endblock %}

{% block foivContent %}
    <div class="list-buttons-top">
       <button type="button" class="btn btn-add" id="btn_add_source" title="Добавить" onclick="window.location.replace('{{ createURL }}')"></button>   
	</div> 
        <div id="dialog_msg_info" class="display-none" title="Внимание" hidden></div>
        <div id="dialog_rec_delete" class="display-none"  title="Внимание" hidden>Вы действительно хотите удалить запись?</div>
        <div id="error_msg_dialog" class="display-none"  title="Внимание" hidden></div>
        <table id="dTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr >
                    <th>№</th>
                    <th {# width = "50%" #}>Наименование</th>
					<th>Изменено</th>
                    <th width="8%">Действия</th>
                </tr>
            </thead>
            <tbody>
            {% if entities is defined %}
				{% set counter = 0 %}
                {% for entity in entities %}
					{% if entity is defined %}
						{% set counter = counter + 1 %}
                <tr id="item_{{ entity.id }}">
                    <td>{{ counter }}</td>
                    <td>{{ entity.name }}</td>
					<td>{% if entity.ModifiedDate is defined and entity.id > 0 %}{{ entity.ModifiedDate|date("d.m.Y H:i:s")}}{% endif %}</td>
                    <td>
                    {% include 'ncuofoiv_icons_list.twig' ignore missing with {
                        'urlView': path('foiv_sitcenter_view', { 'foivid': entity.foiv.id , 'id': entity.id }),
                        'urlEdit': path('foiv_sitcenter_edit', { 'foivid': entity.foiv.id , 'id': entity.id }),
                        'entity_id' : entity.id,
                        'urlDelete' : path('foiv_sitcenter_delete', { 'foivid': entity.foiv.id , 'id': entity.id })
                    } %}
                    </td>
                </tr>
					{% endif %}
				{% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{#
    <div id="importForm">
        <form action="{{ path('foiv_sitcenter_import', {'foivid': foiv.id}) }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputFile">Выберите файл для импорта:</label>
                <input type="file" name="importData" id="fileToUpload">
                <p class="help-block">Файл не должен содержать строки с наименованием полей.</p>
            </div>
            <input type="submit" class="btn btn-default" value="Загрузить" name="submit">
        </form>
    </div>
#}
{% for flashMessage in app.session.flashbag.get('notice') %}
        <script>
            showInfoDialog('dialog_msg_info', '{{ flashMessage }}');
        </script>
{% endfor %}

{% endblock %}