{% extends 'ncuooiv/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/ncuoportal/css/foiv.form.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    <li>Администрирование меню</li>
    <li>Новая запись</li>
{% endblock %}

{% block subtitle %}
    <h5> Администрирование меню > Новая запись</h5>
{% endblock %}


{% block foivContent %}
<h4 style="position: relative; top: -90px">Администрирование меню</h4>
    <div class="contentHolder" style="position: relative; top: -30px">
        {#% if entity.ModifiedDate is defined and entity.id > 0 %}<p>Дата последнего изменения: {{ entity.ModifiedDate|date("d.m.Y (H:i:s)")}}</p>{% endif %#}
        <p>* Поля отмеченные звездочкой обязательны к заполнению</p>
        <div id="dialog_msg_info" class="display-none" hidden title="Инфо"></div>
        <div id="error_msg_dialog" class="display-none"  title="Внимание" hidden></div>
        <form class="form-inline" id="create_data" method="post" action="{{urlAction}}">
            <table class="table table-striped table-bordered dataTable editForm">
                    <tbody>

       {% if menuItem is defined %}
                        <tr>
                            <td>
                                Наименование *:
                            </td>
                            <td>
                                <input type="text" name="FIELDS[name]" value="{{menuItem["name"]}}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Описание *:
                            </td>
                            <td style="text-align:left">
                                <input type="text" name="FIELDS[description]" value="{{ menuItem["description"] }}" style="width: 100%">
                            </td>
                        </tr>
       {% endif %}                        
                    </tbody>
            </table>
        </form>
		
		
		{% include 'ncuooiv_buttons_edit.twig' ignore missing with {
			'urlBack': urlBack,
		} %}
		

        {% if message is defined and message.message_error == false %}
        <script>
            showInfoDialog('dialog_msg_info', '{{ message.message_text }}');
        </script>
        {% endif %}

{#% for flashMessage in app.session.flashbag.get('notice') %}
        <script>
            showInfoDialog('dialog_msg_info', '{{ flashMessage }}');
        </script>
{% endfor %#}

    <div>
{% endblock %}