{% extends 'ncuofoiv/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/ncuoportal/css/foiv.form.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<script src="{{ asset('bundles/ncuofoiv/js/CreatePersonFormHelpers.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/ncuofoiv/js/SendDataHelpers.js') }}"></script>
	<script type="text/javascript" src="{{asset('bundles/ncuofoiv/js/foivPVO.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>Структура</li>
    <li>Организации и предприятия</li>
    <li>{% if entity.id is defined and entity.id > 0 %}Редактирование {% else %}Создание {% endif %} записи</li>
{% endblock %}

{% block subtitle %}
    <h5>{% if entity.id is defined and entity.id > 0 %}Редактирование {% else %}Создание {% endif %} записи</h5>
{% endblock %}

{% block foivTabMenuActive %}
    var arrTabs = ["tab_foiv_struct", "tab_foiv_pvo"];
{% endblock %}

{% block foivContent %}
    <div class="contentHolder">
        {% if entity.ModifiedDate is defined and entity.id > 0 %}<p>Дата последнего изменения: {{ entity.ModifiedDate|date("d.m.Y (H:i:s)")}}</p>{% endif %}
        <p>* Поля отмеченные звездочкой обязательны к заполнению</p>
        <div id="dialog_msg_info" class="display-none" hidden title="Инфо"></div>
        <div id="error_msg_dialog" class="display-none"  title="Внимание" hidden></div>
        <form class="form-inline" id="create_data" method="post" action="{{ActionURL}}">
            <table class="table table-striped table-bordered dataTable editForm">
                    <tbody>
                        <tr>
                            <td>Полное наименование *:</td>
                            <td><input type="text" required="required" name="name" value="{{ entity.name }}"></td>
                        </tr>
                        <tr>
                            <td>Сокращенное наименование *:</td>
                            <td><input type="text" required="required" name="shortName" value="{{ entity.shortName }}"></td>
                        </tr>
                        <tr>
                            <td>Тип организации:</td>
                            <td>

                            <select name="type">
                                <option value="0" {% if entity.type.id is not defined %} selected{% endif %}> Не указано</option>
                            {# Проверяем: определена ли переменная (массив с данными)  или нет ? #}
                            {%  if  typeList is defined %}
                                {% for item in typeList %}
                                    {#
                                        Если значение из списка совпадает с тем что выброано в объекте,
                                        то отмечаем данный элемент списка выбранным
                                    #}
                                    {% if entity.type.id is defined and  entity.type.id|number_format and item.id == entity.type.id %}
                                        <option value="{{item.id}}" selected > {{item.type}}</option>
                                    {% else %}
                                        <option value="{{item.id}}" > {{item.type}}</option>
                                    {%endif%}
                                {% endfor %}
                            {%  endif  %}            
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Руководитель:</td>
                            <td>
                                <select name="director">
                                    <option value="0" selected> Не указано</option>
                                {%  if  personsList is defined  %}
                                    {% for item in personsList %}
                                        {% if  item.fio|trim != "" %}
                                            {% if entity.director.id is defined and item.id == entity.director.id %}
                                                <option value="{{item.id}}" selected > {{item.fio}}</option>
                                            {% else %}
                                                <option value="{{item.id}}" > {{item.fio}}</option>
                                            {%endif%}
                                        {%endif%}
                                    {% endfor %}
                                {%  endif  %}            
                                </select>{#<br>
                            <div onclick="openFormNewOption('formNewOption')" class="btn btn-default mtb10">Добавить персоналию</div>
							{# включаем шаблон мини-формы создания персоналии # }
							{% include 'ncuofoiv/create_person_form.html.twig' %}
                             #}                
                            </td>
                        </tr>
                        <tr>
                            <td>Контактные номера:</td>
                            <td><input type="text" name="phone" value="{{ entity.phone }}"></td>
                        </tr>
                        <tr>
                            <td>Электронная почта:</td>
                            <td><input type="text" name="email" value="{{ entity.email }}"></td>
                        </tr>
                        <tr>
                            <td>Веб-сайт:</td>
                            <td><input type="text" name="websiteUrl" value="{{ entity.websiteUrl }}"></td>
                        </tr>
                        <tr>
                            <td>Адрес *:</td>
                            <td><input type="text" required="required" name="address" value="{{ entity.address }}"></td>
                        </tr>
                        <tr>
                            <td>Основные функции:</td>
                            <td><input type="text" name="functions" value="{{ entity.functions }}"></td>
                        </tr>
                    </tbody>
            </table>
            <p>Руководитель</p>
            <table class="table table-striped table-bordered dataTable editForm">
                        <tr>
                            <td>Фамилия *:</td>
                            <td>
                            <input type="text" name="" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>Имя *:</td>
                            <td>
                            <input type="text" name="" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>Отчество *:</td>
                            <td>
                            <input type="text" name="" value="">
                            </td>
                        </tr>
                    </tbody>
            </table>
        </form>
		
		
		{% include 'ncuofoiv_buttons_edit.twig' ignore missing with {
			'urlBack': urlBack,
			'urlView': urlView
		} %}
		

        {% if message is defined and message.message_type > 0 %}
        <script>
            showInfoDialog('dialog_msg_info', '{{ message.message_subj }}');
        </script>
        {% endif %}

{% for flashMessage in app.session.flashbag.get('notice') %}
        <script>
            showInfoDialog('dialog_msg_info', '{{ flashMessage }}');
        </script>
{% endfor %}

    <div>
{% endblock %}